*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* STYLING NAV BAR */
h1{
    color: red;
}

.navBar{
    height: 10vh;
    width: 80vw;
    background-color: aqua;
    border-radius: 0.7rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    height: 80%;
    width: 45%;
    border: 2px solid black;
}

.right{
    height: 80%;
    width: 45%;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.right ul{
    display: flex;
    justify-content: space-around;
}

.right ul li{
    list-style: none;
    margin-left: 2rem;
    font-weight: 650;
}
a{
    text-decoration: none;
    color: black;
}

.right ul li:hover{
    font-size: 1.01rem;
}

/* STYLING BODY COMPONENT */

.container{
    height: 90vh;
    width: 83vw;
    margin: 2rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    height: 80vh;
    width: 45%;
}

.content h3{
    font-size:3rem ;
    margin: 2rem auto;
}
.img-section{
    height: 80vh;
    width: 45%;
}

#ab{
    color: #cf47e0;
}

/* STYLING CONTACT PAGE */

.form{
    min-height: 80vh;
    width: 30vw;
    border: 3px solid black;
    margin: .1rem auto;
    border-radius: 1.2rem;
}

form{
    display: flex;
    flex-direction: column;
    align-items: start;
    margin: 2rem 0 0 2rem;
}

label{
    margin-top: 1rem;
    font-size: large;
    font-weight: 560;
}

input{
    width: 90%;
    height: 2rem;
    border: 1px solid black;
    border-radius: .3rem;
    font-size: medium;
}

#btn{
    margin: 1rem  0 0 7rem;
    padding: 0.5rem 1rem;
    border: none;
    background-color: #242424;
    color: azure;
    font-size: 1.5rem;
    font-weight: 750;
    border-radius: 10px;

}