*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* STYLING NAV BAR */
h1{
    color: red;
}

.navBar{
    height: 10vh;
    width: 80vw;
    background-color: aqua;
    border-radius: 0.7rem;
    margin: 1rem auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.left{
    height: 80%;
    width: 45%;
    border: 2px solid black;
}

.right{
    height: 80%;
    width: 45%;
    border: 2px solid black;
    display: flex;
    align-items: center;
}

.right ul{
    display: flex;
    justify-content: space-around;
}

.right ul li{
    list-style: none;
    margin-left: 2rem;
    font-weight: 650;
}


/* STYLING BODY COMPONENT */

.container{
    height: 90vh;
    width: 90vw;
    margin: 2rem auto;
    border: 3px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.content{
    height: 80vh;
    width: 45%;
    border: 3px solid black;
}

.content h3{
    font-size:3rem ;
    margin: 2rem auto;
}
.img-section{
    height: 80vh;
    width: 45%;
    border: 3px solid black;
}

